<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto py-8 text-center">
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2 bg-white border-gray-300 border mr-4 rounded" style="padding: 20px">
                <%- include('header.ejs') %>
                    <p class="py-2">Welcome to Learning Management System</p>
                    <p class="py-2">New here? <a href="/signup" class="text-green-600">SignUp</a></p>
                    <p class="py-2">Already have an account? <a href="/login" class="text-green-600">LogIn</a></p>
            </div>
        </div>
    </div>
</body>

</html>